/* Задагние 1 */
a {
	color: red;
}
a:hover {
	text-decoration: none;
}
/* Задание 2 */
a.zzz {
	color: blue;
}
a.zzz:hover {
	text-decoration: none;
}
/* Задание 3 */
#block a.zzz {
	color: goldenrod;
}
#block a.zzz:hover {
	text-decoration: none;
}
/* Задание 4 */
.block a.zzz {
	color: purple;
}
.block a.zzz:hover {
	text-decoration: none;
}